{% extends 'base.html' %}

{% load static %}

{% block 'main' %}

<div class="row">
    <div class="col-md-12 mt-5">
        <h2>About Us</h2>
        <hr>
        <p>Ekart is your ultimate destination for all your online shopping needs.
            We strive to provide a seamless and enjoyable shopping experience, offering a wide range of
            high-quality
            products at competitive prices. Whether you're looking for the latest fashion trends, electronics,
            home decor, or everyday essentials, eKart has got you covered.</p>
    </div>
    <div class="col-md-6 mt-3">
        <h2>Vision</h2>
        <hr>
        <p>Embark on a delightful shopping journey with eKart. Browse our extensive collection,
            find amazing deals, and experience the joy of online shopping from the comfort of your own home.
        </p>
    </div>
    <div class="col-md-6 mt-3">
        <h2>Mission</h2>
        <hr>
        <p>At eKart, our mission is to revolutionize the way people shop online.
            We aim to be the go-to platform for customers worldwide, providing them with a diverse selection
            of products, exceptional customer service, and a secure and convenient shopping environment.
        </p>
    </div>
    <h2 class="mt-5">Statistics</h2>
    <hr>
    <!--Statistics-->
    <div class="col-md-4 shadow my-5 p-5">
        <h1 class="text-danger text-center">10000+</h1>
        <h4 class="text-center"><i class="bi bi-emoji-laughing"></i>
            Happy Customers...</h4>
    </div>

    <div class="col-md-4 shadow my-5 p-5">
        <h1 class="text-danger text-center">20000+</h1>
        <h4 class="text-center"><i class="bi bi-truck"></i>
            Orders Delivered...</h4>
    </div>

    <div class="col-md-4 shadow my-5 p-5">
        <h1 class="text-danger text-center">600+</h1>
        <h4 class="text-center"><i class="bi bi-bag"></i>Products...</h4>
    </div>



</div>

{% endblock 'main' %}